.btn-primary {
    background-color: #1e90ff;
    border-color: #1e90ff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #1c86ee;
    border-color: #1c86ee;
}

.btn-secondary {
    background-color: #4682b4;
    border-color: #4682b4;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #5a9bd4;
    border-color: #5a9bd4;
}

.alert-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #fff;
}

.bg-light {
    background-color: #b7ccde !important;
    border: 0px 2px 2px 2px solid #3f4042 !important;
}

.bg-dark {
    background-color: #1c1f26 !important;
    color: #fff;
}
